html, body {
  background-color: rgb(167, 226, 236);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  fonte-size: 20px;

}  

h1 {
color: rgb(19, 6, 66);
background-color: rgb(99, 161, 161);

}
a {
  color:rgb(15, 15, 15);
}
nav#principal
 {
   
   text-align: center;
   background-color: rgb(124, 214, 236);
   border-width: 1px;
   border-style: solid;
   border-color: rgb(15, 15, 15);
   height: 25px;
   width: 300px;
   box-shadow: 2px 1px 2px 1px black;
   margin: auto;
   
} 